body{
    background-color: #fa8f8f;
}
img{
    height: 400px;
    width: 400px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.text {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}

.button{
    background-color: #1b7c58;
    border: none;
    border-radius: 20%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
